{{!

    Renders:
      Author Link
      Author Image
      Author Name

    Microdata:
      Author

}}

{{^is "page"}}

{{#author}}

<a href="{{url}}" class="avatar post-author">
  {{#if image}}
  <img src="{{image}}" alt="{{name}}" class="avatar-item avatar-img">
  {{/if}}
  <span itemprop="author" class="avatar-item">{{name}}</span>
</a>

{{/author}}

{{/is}}
