{{!

    Renders:
      Comments

    Microdata:
      UserComments

}}

{{#is "post"}}
<!-- 
<section itemscope itemtype="http://schema.org/UserComments" class="post-item post-comments" id="comments">
  <div class="wrapper post-wrapper">
    <div id="disqus_thread"></div>
  </div>
</section> -->

{{/is}}
