{{!

    Renders:
      Date

    Microdata:
      Published

}}

{{^is "page"}}

<a itemprop="datePublished" href="{{url}}" class="icon-ui icon-ui-date meta-item meta-date">
  <span class="meta-count">{{date published_at timeago="true"}}</span>
</a>

{{/is}}
