{{!

    Renders:
      Header Links

}}

<div class="nav header-item header-links">

    {{!-- Twitter --}}
    {{!-- <a href="http://twitter.com/_ephyy" target="_blank" class="icon icon-twitter nav-item" title="Twitter">Twitter</a> --}}

    {{!-- Github --}}
    {{!-- <a href="http://github.com/ephemey" target="_blank" class="icon icon-github nav-item" title="Github">Github</a> --}}

    {{!-- Dribbble --}}
    {{!-- <a href="#" target="_blank" class="icon icon-dribbble nav-item" title="Dribbble">Dribbble</a> --}}

    {{!-- Youtube --}}
    {{!-- <a href="#" target="_blank" class="icon icon-youtube nav-item" title="Youtube">Youtube</a> --}}

    {{!-- Flickr --}}
    {{!-- <a href="#" target="_blank" class="icon icon-flickr nav-item" title="Flickr">Flickr</a> --}}

    {{!-- Instagram --}}
    {{!-- <a href="http://www.instagram.com/e.phemey/" target="_blank" class="icon icon-instagram nav-item" title="Instagram">Instagram</a> --}}

    {{!-- Facebook --}}
    {{!-- <a href="http://www.facebook.com/ephephemey" target="_blank" class="icon icon-facebook nav-item" title="Facebook">Facebook</a> --}}

    {{!-- Linkedin --}}
    {{!-- <a href="#" target="_blank" class="icon icon-linkedin nav-item" title="Linkedin">Linkedin</a> --}}

    {{!-- Stumbleupon --}}
    {{!-- <a href="#" target="_blank" class="icon icon-stumbleupon nav-item" title="Stumbleupon">Stumbleupon</a> --}}

    {{!-- Google Plus --}}
    {{!-- <a href="http://plus.google.com/110419459718924543701/" target="_blank" class="icon icon-googleplus nav-item" title="Google Plus">Google Plus</a> --}}

    {{!-- Pinterest --}}
    {{!-- <a href="#" target="_blank" class="icon icon-pinterest nav-item" title="Pinterest">Pinterest</a> --}}

    {{!-- Vimeo --}}
    {{!-- <a href="#" target="_blank" class="icon icon-vimeo nav-item" title="Vimeo">Vimeo</a> --}}

    {{!-- Ask.fm --}}
    {{!-- <a href="#" target="_blank" class="icon icon-askfm nav-item" title="Ask.fm">Ask.fm</a> --}}
    
</div>
