{{!

    Renders:
      Header Links

}}

<div class="nav header-item header-links">

    {{!-- Twitter --}}
    <a href="http://twitter.com/ephyyyyyy" target="_blank" class="icon icon-twitter nav-item" title="Twitter"></a>
{{!-- Instagram --}}
    <a href="http://www.instagram.com/ephyyyyyy/" target="_blank" class="icon icon-instagram nav-item" title="Instagram"></a>
 {{!-- Facebook --}}
    <a href="http://www.facebook.com/ephyyyyy" target="_blank" class="icon icon-facebook nav-item" title="Facebook"></a>

    <!-- {{!-- Github --}}
    <a href="http://github.com/ephemey" target="_blank" class="icon icon-github nav-item" title="Github"></a>

    {{!-- Dribbble --}}
    {{!-- <a href="#" target="_blank" class="icon icon-dribbble nav-item" title="Dribbble">Dribbble</a> --}}

    {{!-- Youtube --}}
    <a href="https://www.youtube.com/channel/UC8z2-TxT5Is9rWFHJZ2r1oA" target="_blank" class="icon icon-youtube nav-item" title="Youtube">Youtube</a>

    {{!-- Flickr --}}
    {{!-- <a href="#" target="_blank" class="icon icon-flickr nav-item" title="Flickr">Flickr</a> --}}

    

   

    {{!-- Linkedin --}}
    <a href="https://www.linkedin.com/in/lucas-gao-069977116" target="_blank" class="icon icon-linkedin nav-item" title="Linkedin">Linkedin</a>

    {{!-- Stumbleupon --}}
    {{!-- <a href="#" target="_blank" class="icon icon-stumbleupon nav-item" title="Stumbleupon">Stumbleupon</a> --}}

    {{!-- Google Plus --}}
    <a href="http://plus.google.com/110419459718924543701/" target="_blank" class="icon icon-googleplus nav-item" title="Google Plus"></a>

    {{!-- Pinterest --}}
    {{!-- <a href="#" target="_blank" class="icon icon-pinterest nav-item" title="Pinterest">Pinterest</a> --}}

    {{!-- Vimeo --}}
    {{!-- <a href="#" target="_blank" class="icon icon-vimeo nav-item" title="Vimeo">Vimeo</a> --}}

    {{!-- Ask.fm --}}
    {{!-- <a href="#" target="_blank" class="icon icon-askfm nav-item" title="Ask.fm">Ask.fm</a> --}} -->
    
</div>
